@charset "utf-8";

*{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 padding: 0px;
 margin:0px;
 box-sizing: border-box;
}
body{
    background-color: rgb(96, 119, 119);
    height: 100vh;
    width: 100vw;
}

main{

    position: relative;
    text-align: center;
    height: 100vh;
    width: 100vw;
}
section#login{
    position:absolute;
    top:50%;
    left:50%;
  
    overflow: hidden;


    background-color: white;
    width: 320px;
    height: 390px;
    border-width:100px ;
     border-radius: 30px;
    box-shadow:0px 0px 10px white;
    

    transform: translate(-50% , -40%);
    transition-timing-function:ease


}
section#login > div#imagem{
    display: block;
    background: rgb(117, 109, 109) url(../imagens/baloes.jpg); 
    background-size: cover;
    background-position: left bottom;
    height: 200px;  
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}
div#formulario > p{
    font-size:0.8em;
}

form > div.campo{

    background-color: rgb(112, 156, 150);
    border: 2px solid rgb(112, 156, 150);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 2px 1px;

}
  div.campo >label{
    display: none;
  }
  div.campo span{
     
     
    font-size: 2em;
    padding: 5px;
  }
  div.campo >input {
    background-color:rgb(116, 184, 161) ;
   font-size: 1em;
   width:calc(100% - 89px) ;
   height: 100%;
  
   border: 0px;
   border-radius: 8px;
   padding: 4px; 
   transform: translateY(-10px);
  }
  div.campo > input:focus-within{
    background-color: white;
  }

form >input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgb(116, 184, 161);
    color: white;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}
